<?xml version="1.0" encoding="utf-8"?>

<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.1" />
  </startup>
  <appSettings>
    <!--The Gateway URL. Use: 
        - http://localhost:8082/worker when testing the application on the local Service Fabric cluster
        - http://<SF_CLUSTER_NAME>.<REGION>.cloudapp.azure.com:8082/worker 
          when testing the application on Service Fabric cluster on Azure
        -->
    <!--<add key="gatewayUrl" value="http://plunko.westeurope.cloudapp.azure.com:8082/worker"/>-->
    <add key="gatewayUrl" value="http://localhost:8082/worker" />
    <!-- The count of messages to send to the worker actor -->
    <add key="messageCount" value="3000" />
    <!-- the number of steps emulated by the worker or processor actor for each message -->
    <add key="steps" value="5" />
    <!-- the time spent by each step in seconds -->
    <add key="delay" value="1" />
  </appSettings>
</configuration>