<?xml version="1.0" encoding="utf-8"?>
<Settings xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://schemas.microsoft.com/2011/01/fabric">
   <Section Name="QueueActorServiceReplicatorConfig">
      <Parameter Name="ReplicatorEndpoint" Value="QueueActorServiceReplicatorEndpoint" />
      <Parameter Name="BatchAcknowledgementInterval" Value="0.005" />
   </Section>
   <Section Name="QueueActorServiceReplicatorSecurityConfig">
      <Parameter Name="CredentialType" Value="None" />
   </Section>
   <Section Name="ProcessorActorServiceReplicatorConfig">
      <Parameter Name="ReplicatorEndpoint" Value="ProcessorActorServiceReplicatorEndpoint" />
      <Parameter Name="BatchAcknowledgementInterval" Value="0.005" />
   </Section>
   <Section Name="ProcessorActorServiceReplicatorSecurityConfig">
      <Parameter Name="CredentialType" Value="None" />
   </Section>
   <Section Name="WorkerActorServiceReplicatorConfig">
      <Parameter Name="ReplicatorEndpoint" Value="WorkerActorServiceReplicatorEndpoint" />
      <Parameter Name="BatchAcknowledgementInterval" Value="0.005" />
   </Section>
   <Section Name="WorkerActorServiceReplicatorSecurityConfig">
      <Parameter Name="CredentialType" Value="None" />
   </Section>
   <Section Name="WorkerActorCustomConfig">
      <Parameter Name="QueueLength" Value="10" />
   </Section>
</Settings>